.standarts {
    display: flex;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    &__img {
        width: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @media (max-width: 768px) {
            width: 100%;
            height: 225px;
        }
    }
    &__content {
        width: 50%;
        padding: 104px 80px;
        background: #F2F6FB;
        @media (max-width: 1023px) {
            padding: 80px 32px;
        }
        @media (max-width: 768px) {
            width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 46px;
            padding-bottom: 56px;
        }
        &__about {
            text-transform: uppercase;
            font-size: 13px;
            line-height: 140%;
            color: #888888;
            letter-spacing: 0.08em;
            padding-bottom: 8px;
            @media (max-width: 768px) {
                font-size: 12px;
                line-height: 140%;
            }
        }
        &__title {
            font-size: 29px;
            line-height: 116%;
            font-family: 'Golos-medium';
            color: #003154;
            max-width: 408px;
            padding-bottom: 16px;
            @media (max-width: 768px) {
                font-size: 27px;
                line-height: 116%;
            }
        }
        &__des {
            font-size: 15px;
            line-height: 174%;
            color: #404040;
            max-width: 408px;
            padding-bottom: 32px;
        }
        &__more {
            display: flex;
            align-items: baseline;
            text-decoration: none;
            &__text {
                color: #1E1E1E;
            }
            &__icon {
                transition: all 0.2s;
                margin-left: 9.5px;
                font-size: 0;
                line-height: 0;
            }
            &:hover &__icon {
                transform: translateX(3px);
            }
            &:hover &__text {
                color: #003154;
            }
        }
    }
}